node_modules/
.env
.env.*
*.log
.DS_Store
dist/
build/


backend/node_modules/
backend/.env
backend/uploads/
backend/logs/
backend/tmp/

frontend/node_modules/
frontend/.env
frontend/dist/
frontend/build/


*.sqlite
*.sqlite3
database.sqlite

docker-compose.override.yml

.vscode/
.idea/